@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tailwindcss/preflight";
/* @import "tw-animate-css"; */

@keyframes glow {
  from {
    box-shadow: 0 0 60px 20px rgba(166, 124, 82, 0.3);
  }
  to {
    box-shadow: 0 0 60px 20px rgba(166, 124, 82, 0.5);
  }
}

body {
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

/* hide native scrollbar but preserve scrolling - apply to root */
html,
body {
  height: 100%;
  margin: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* WebKit / Blink */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hero-block {
  animation: glow 3s ease-in-out infinite alternate;
  animation-name: glow;
  animation-duration: 0.8s;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #a67c52;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, background-color 0.3s ease;
  z-index: 9999;
}
